:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    :host {
        flex-direction: column;
    }

    :host(.no-collapse) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
