:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

@media only screen and (max-width: 1100px) {
    :host {
        flex-direction: column;
    }

    :host(.no-collapse) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    :host(.no-gap) {
        gap: 0px !important;
    }
}
