<mat-sidenav-container class="container">
    <mat-sidenav
        mode="side"
        class="sidenav"
        fixedInViewport="true"
        [opened]="isNavbarOpen$()"
    >
        <mat-nav-list>
            <mat-list-item class="profile">
                <app-badge
                    [text]="user$() ?? ''"
                    [type]="badgeType"
                ></app-badge>
                <app-flex-col class="user-info">
                    <div class="title">{{ user$() }}</div>
                    <div class="subtitle">{{ role$() }}</div>
                </app-flex-col>
            </mat-list-item>
            <div class="links-wrapper">
                @for (route of routesList; track route) {
                    <a mat-list-item [routerLink]="route.route">
                        <mat-icon>{{ route.icon }}</mat-icon>
                        <span>{{ route.name }}</span>
                    </a>
                }
            </div>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
