:host {
    .profile {
        --mdc-list-list-item-one-line-container-height: 78px;
    }
}
::ng-deep {
    .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .profile .mdc-list-item__primary-text {
        gap: 12px;
    }
    .profile .mdc-list-item.mdc-list-item--with-one-line {
        height: 78px;
    }

    .mdc-list {
        padding: 0px !important;
    }
}
.sidenav {
    padding-top: 56px; //height of the toolbar
    background-color: var(--white);
    width: 316px;
    height: 100vh;
    box-shadow: 0px 0px 30px 0px #0000000d;
}

.profile {
    background-color: var(--base-dark);
    padding: 8px 25px 5px 25px;
    .user-info {
        display: flex;
        gap: 2px;
        padding: 12px 0px;
    }
}

.links-wrapper {
    padding: 8px 10px 8px 0px;
}

a.mat-mdc-list-item,
a.mat-mdc-list-item .mat-mdc-list-item-content {
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    padding: 3px 25px;
}

a.mat-mdc-list-item:hover,
a.mat-mdc-list-item .mat-mdc-list-item-content:hover {
    background-color: var(--base-dark);
}

a mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
