::ng-deep {
    .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
.sidenav-container {
    height: 100vh;
}

.sidenav {
    margin-top: 56px; //height of the toolbar
    background-color: var(--white);
    width: 316px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0px 0px 30px 0px #0000000d;
}

a.mat-mdc-list-item,
a.mat-mdc-list-item .mat-mdc-list-item-content {
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    padding: 3px 25px;
}

a.mat-mdc-list-item:hover,
a.mat-mdc-list-item .mat-mdc-list-item-content:hover {
    background-color: var(--base-dark);
}

a mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
