@use '@angular/material' as mat;
@include mat.form-field-density(-5);

.mat-mdc-form-field-infix {
    min-height: 33px !important;
    padding-top: 8px !important;
    width: auto !important;
}

.mat-mdc-input-element {
    line-height: 12px !important;
    padding-top: 2px !important;
}

.mat-mdc-form-field-input-control {
    padding: 0 !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
    display: none;
}
