.mdc-button {
    --mdc-text-button-container-height: 36px;
    min-width: 48px !important;
}

button.mat-mdc-icon-button {
    --mdc-icon-button-state-layer-size: 28px;
    padding: 0 !important;
    margin: 0 !important;
    width: 28px !important;
    height: 28px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border-radius: 0 !important;
}

button.mat-mdc-icon-button .mat-mdc-button-touch-target {
    display: none !important;
}

button.mat-mdc-icon-button .mdc-button__ripple {
    display: none !important;
}

.button {
    border-radius: 4px !important;
    min-width: 100px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    line-height: 36px !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: var(--accent) !important;
    color: var(--white) !important;
}

.btn-secondary {
    background-color: var(--base-darker) !important;
    color: var(--text) !important;
}
