<app-flex-col class="question-wrapper">
    @if (text?.value) {
        <div class="gap-10 question-name">
            <div class="question-id">{{ id?.value }}</div>
            <div class="question-text">{{ text?.value }}</div>
        </div>
        <app-flex-col class="answers-wrapper">
            @for (answer of answers?.value; track answer) {
                <!-- For basic purposes, we will check if text is present to show options,
                    otherwise we should create required field checker 
                 -->
                @if (type?.value === 'Check-Box' && answer.text) {
                    <mat-checkbox
                        [checked]="answer.selected"
                        [ngClass]="{
                            'flagged-checkbox': answer.flagged && !addMode,
                        }"
                        (change)="onCheckboxChange(answer, $event.checked)"
                    >
                        <ng-container
                            *ngTemplateOutlet="answerContent"
                        ></ng-container>
                    </mat-checkbox>
                } @else if (type?.value === 'Multiple Choice' && answer.text) {
                    <mat-radio-button
                        [checked]="answer.selected"
                        (change)="onRadioChange(answer)"
                        [ngClass]="{
                            'flagged-checkbox': answer.flagged && !addMode,
                        }"
                    >
                        <ng-container
                            *ngTemplateOutlet="answerContent"
                        ></ng-container>
                    </mat-radio-button>
                }
                <ng-template #answerContent>
                    <div class="f--row-c gap-10">
                        <span>{{ answer.text }}</span>
                        @if (answer?.points && !addMode) {
                            <app-badge
                                [style]="{
                                    background: '#EBEBEB',
                                    color: 'black',
                                    'font-weight': '400',
                                    'font-size': '12px',
                                    height: 'auto',
                                }"
                                [type]="badgeType"
                                [text]="`${answer?.points}pt`"
                            ></app-badge>
                        }
                    </div>
                </ng-template>
            }
        </app-flex-col>
    }
</app-flex-col>
