:host {
    --mdc-checkbox-state-layer-size: 32px;
}
.question-wrapper {
    .question-name {
        display: flex;
        padding: 10px 20px;
        gap: 10px;
        .question-id {
            font-weight: var(--font-weight-semi-bold);
        }
    }
    .answers-wrapper {
        display: flex;
        padding: 0px 20px 10px 50px;
    }
    .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
