<form [formGroup]="questionnaireForm$()" (ngSubmit)="submit()">
    @for (section of sections.controls; track section; let i = $index) {
        <app-section
            [id]="section.value.id ?? i.toString()"
            [title]="section.value.name ?? 'Title' + i.toString()"
        >
        </app-section>
    }
    <div formArrayName="sections" class="section">
        @for (section of sections.controls; track section; let i = $index) {
            <div [formGroupName]="i" class="section">
                <h3>Section</h3>

                <label>
                    Section Name:
                    <input formControlName="name" />
                </label>

                <label>
                    Section ID:
                    <input formControlName="id" />
                </label>
            </div>

            <!-- @if (getQuestions(sections.at(i)).length > 0) {
                <div formArrayName="questions">
                    @for (
                        question of getQuestions(section).controls;
                        track question;
                        let j = $index
                    ) {
                        <div [formGroupName]="j" class="question">
                            <h4>Question {{ j + 1 }}</h4>

                            <label>
                                Text:
                                <input formControlName="text" />
                            </label>

                            <label>
                                Type:
                                <select formControlName="type">
                                    <option value="short-text"
                                        >Short Text</option
                                    >
                                    <option value="long-text">Long Text</option>
                                    <option value="multiple-choice"
                                        >Multiple Choice</option
                                    >
                                </select>
                            </label>

                            <label>
                                Answers (comma-separated):
                                <input [formControlName]="'answers'" />
                            </label>
                        </div>
                    }
                </div>
            }

            <button type="button" (click)="addQuestion(sections.at(i))"
                >Add Question</button
            > -->
        }
    </div>
    <button type="button" (click)="addSection()">Add Section</button>
    <button type="submit">Submit</button>
</form>
