:host {
    flex: 1;
    --mdc-checkbox-state-layer-size: 32px;
}
.form-wrapper {
    background-color: var(--base-light);
    border-radius: 4px;
    padding: 0px 20px 0px 50px;
    .answer {
        gap: 33px;
    }
    .option {
        flex-wrap: wrap;
        flex: 1;
        mat-form-field {
            flex: 1;
        }
    }
    .comment {
        flex: 1;
        display: flex;
        flex-direction: row;
        .side {
            max-width: 100px;
        }
    }
}
