@if (question) {
    <div class="form-wrapper">
        <form [formGroup]="question">
            <div formArrayName="answers" class="gap-4">
                @for (
                    question of answers.controls;
                    track question;
                    let i = $index
                ) {
                    <app-flex-row [formGroupName]="i" class="no-gap answer">
                        <div class="f--row-c gap-8 option">
                            @if (type === 'Multiple Choice') {
                                <mat-radio-button></mat-radio-button>
                            } @else if (type === 'Check-Box') {
                                <mat-checkbox formControlName="correct">
                                </mat-checkbox>
                            }

                            <mat-form-field appearance="fill">
                                <input
                                    matInput
                                    formControlName="text"
                                    placeholder="Option"
                                />
                            </mat-form-field>
                        </div>

                        <app-flex-row class="no-collapse gap-8 comment">
                            <div class="f--row-c gap-8 option">
                                <mat-checkbox
                                    formControlName="flagged"
                                    class="flagged-checkbox"
                                >
                                    Red Flag
                                </mat-checkbox>

                                <mat-form-field appearance="fill">
                                    <input
                                        matInput
                                        type="text"
                                        formControlName="comment"
                                        placeholder="Comment"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="f--row-c gap-8 option side">
                                <mat-form-field appearance="fill">
                                    <input
                                        matInput
                                        type="number"
                                        formControlName="points"
                                        placeholder="Points"
                                    />
                                </mat-form-field>
                            </div>
                        </app-flex-row>
                    </app-flex-row>
                }
            </div>
        </form>
    </div>
}
