.app-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  background-color: var(--primary);
  padding: 4px 16px;

  .header-icons {
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 40px;
    opacity: 1;
    color: var(--white);

    mat-icon {
      width: 28px;
      height: 28px;
      font-size: 28px;
      margin: 0px;
    }

    span {
      font-size: 22px;
      line-height: 20px;
      font-weight: var(--font-weight-semi-bold);
      text-align: center;
      vertical-align: middle;
    }
  }
}
