<mat-toolbar class="app-topbar">
    <div class="f--row-c">
        <button mat-button class="header-icons" (click)="handleMenuClick()">
            <mat-icon>{{ isNavbarOpen$() ? 'segment' : 'menu' }}</mat-icon>
        </button>
        <span class="navigation-name">
            {{ lastRouterName }}
        </span>
    </div>

    <div>
        <button mat-button class="header-icons">
            <mat-icon>notifications_active</mat-icon>
        </button>
        <button mat-button class="header-icons">
            <mat-icon>info</mat-icon>
        </button>
        <button mat-button class="header-icons">
            <span>HR</span>
        </button>
    </div>
</mat-toolbar>
