$color-background: #ffffff;
$color-primary: #0f3ba2;
$color-accent: #3874ed;
$color-alert: #df0000;
$color-base-01: #f5f5f5;
$color-base-02: #e3ebff;
$color-base-03: #ebebeb;
$color-text: #00002e;
$color-line: #a6a6a6;
