.router-wrapper {
    margin: 76px 30px;
    padding: 30px;
    background-color: var(--base-darker);
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .router-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
}
