@if (isSectionVisible) {
    <div class="form-wrapper">
        <form [formGroup]="form">
            <div formArrayName="sections" class="f--row-c gap-10 section">
                @for (
                    section of sections.controls;
                    track section;
                    let i = $index
                ) {
                    @if (i === lastIndex) {
                        <div
                            [formGroupName]="i"
                            class="f--row-c gap-10 section"
                        >
                            <app-badge
                                [text]="id"
                                [type]="badgeType"
                                [style]="{
                                    color: 'black',
                                    'background-color': 'transparent',
                                }"
                            ></app-badge>
                            <mat-form-field appearance="fill">
                                <input
                                    matInput
                                    formControlName="name"
                                    placeholder="Section Name"
                                />
                            </mat-form-field>
                        </div>
                    }
                }
            </div>
        </form>
    </div>
}
