:host {
    flex: 1;
}
.form-wrapper {
    background-color: var(--base-light);
    border-radius: 4px;
    padding: 0px 20px 0px 50px;
    min-height: 135px;

    .section {
        width: 100%;
        mat-form-field {
            flex: 1;
            min-width: 0;
        }
    }
}
