.font-body {
    font-size: var(--font-m);
    line-height: var(--lineheight-m);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-regular);
    letter-spacing: 0.5px; //in figma is 0%, but it doesn't correspond
}
