@import 'base-layers';

:root {
    --font-regular: 'Open Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --font-2xs: 10px;
    --font-xs: 11px;
    --font-s: 12px;
    --font-m: 14px;
    --font-l: 16px;
    --font-xl: 20px;
    --font-2xl: 28px;
    --font-3xl: 36px;
    --font-4xl: 48px;

    --lineheight-l: 1.2;
    --lineheight-m: 1.3;
}

body {
    @extend .font-body;
    background-color: var(--base-darker);
}

mat-icon {
    width: 28px !important;
    height: 28px !important;
    font-size: var(--font-2xl) !important;
    margin: 0px;
}

.divider-line {
    border: 0.5px solid var(--section-line);
}
