.initials {
    justify-content: center;
    background-color: var(--accent);
    color: var(--white);
    font-size: var(--font-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--lineheight-l);
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

.square {
    justify-content: center;
    background-color: var(--accent);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    height: 22px;
    padding: 2px 6px;
}
