/* You can add global styles to this file, and also import other style files */
@import 'styles/directory';

body {
    margin: 0;
}

.title {
    font-weight: var(--font-weight-semi-bold);
    font-size: 18px;
    line-height: var(--lineheight-l);
    letter-spacing: 0%;
    vertical-align: middle;
}
.subtitle {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-m);
    line-height: var(--lineheight-l);
    letter-spacing: 0%;
    vertical-align: middle;
}
