@import "base-layers";

:root {
  --font-regular: "Open Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;

  --font-s: 10px;
  --font-m: 14px;

  --lineheight-m: 1.3;
}

body {
  @extend .font-body;
}
