@if (section && lastIndex >= 0) {
    <div class="form-wrapper">
        <form [formGroup]="section">
            <div formArrayName="questions">
                @for (
                    question of questions.controls;
                    track question;
                    let i = $index
                ) {
                    @if (i === lastIndex) {
                        <div
                            [formGroupName]="i"
                            class="f--row-c gap-10 question"
                        >
                            <app-badge
                                [text]="id"
                                [type]="badgeType"
                                [style]="{
                                    color: 'black',
                                    'background-color': 'transparent',
                                }"
                            ></app-badge>
                            <mat-form-field appearance="fill">
                                <input
                                    matInput
                                    formControlName="text"
                                    placeholder="Question"
                                />
                            </mat-form-field>
                        </div>
                        <app-add-answer [question]="question"></app-add-answer>
                        <div class="f--row-c gap-10 add-option">
                            <button
                                mat-icon-button
                                (click)="handleAddOptionClick(question)"
                            >
                                <mat-icon>add_circle</mat-icon>
                            </button>
                            <span>Add Option</span>
                        </div>
                        <div class="divider-line"></div>
                        <div class="logic">
                            <h4>Conditional logic</h4>
                            <app-conditional-logic
                                [question]="question"
                            ></app-conditional-logic>
                        </div>
                    }
                }
            </div>
        </form>
    </div>
}
