:host {
    flex: 1;
}
.form-wrapper {
    background-color: var(--base-light);
    border-radius: 4px;
    padding: 0px 20px;
    min-height: 135px;

    .question {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        mat-form-field {
            flex: 1;
            min-width: 0;
        }
    }
    .add-option {
        margin-left: 50px;
        display: flex;
        align-items: center;
        padding: 10px 5px;
        gap: 10px;
        color: var(--primary);
    }
}
