:host {
    max-width: 48px;
}
.icon-wrapper {
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: var(--white);
    padding: 10px;

    mat-icon {
        color: var(--accent);
    }
}

.icon-menu {
    width: 18px !important;
    height: 18px !important;
    font-size: 18px !important;
}
